@using MyHybridApp.Shared.Services
@using MyHybridApp.Shared.Models
@page "/details/{name}"
@inject IMonkeyService MonkeyService
@inject NavigationManager NavigationManager

<a href="/monkeys" style="text-decoration:none;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
    </svg> Back
</a>

<h1>@monkey?.Name</h1>

@if (monkey != null)
{
    <div class="col-lg-6">
        <div class="card monkey">
            <img src="@monkey.Image" class="card-img-top" alt="@monkey.Name" />
            <div class="card-body">
                <h5 class="card-title">@monkey.Name</h5>
                <p><strong>Location:</strong> @monkey.Location</p>
                <p><strong>Population:</strong> @monkey.Population</p>
                <p>@monkey.Details</p>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Name { get; set; } = string.Empty;
    private Monkey? monkey;

    protected override async Task OnParametersSetAsync()
    {
        monkey = await Task.FromResult(MonkeyService.GetMonkeyByName(Name));
    }
}